@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* Base reset + look premium */
html,
body {
  margin: 0;
  padding: 0;
  @apply bg-slate-50 text-slate-900 antialiased;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}